VITE_DOWNLOAD_VERSION=0.0.1
VITE_DOWNLOAD_URL=https://storage.googleapis.com/acacia-496104-downloads/downloads/Acacia-0.0.1.dmg
VITE_DOWNLOAD_CHECKSUM_URL=https://storage.googleapis.com/acacia-496104-downloads/downloads/Acacia-0.0.1.dmg.sha256
VITE_DOWNLOAD_MANIFEST_URL=https://storage.googleapis.com/acacia-496104-downloads/downloads/Acacia-0.0.1.manifest.json
VITE_DOWNLOAD_SHA256=6a11e7fefccb82a8d58f5eb53eaaf9befe38eb346a0ce16b96a4974e603147d1
VITE_DOWNLOAD_SIZE=9.1 MB
